<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JsParser.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JsParser.UI.Properties.Settings>
            <setting name="ShowLineNumbersEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterByMarksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAnonymousFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Statistics" serializeAs="String">
                <value>{
   "ClientId" : "bdea1df3-ede9-4920-b55e-82f040a1c763",
   "TotalRunCount" : 2,
   "FindFeatureShowCount" : 0,
   "FindFeatureUsedCount" : 0,
   "ToggleHierachyOptionCount" : 0,
   "ExpandAllCommandExecutedCount" : 0,
   "CollapseAllCommandExecutedCount" : 0,
   "SettingsDialogShowedCount" : 0,
   "ToggleShowLineNumbersCount" : 0,
   "NavigateFromToDoListCount" : 0,
   "NavigateFromErrorListCount" : 0,
   "NavigateFromFunctionsTreeCount" : 0,
   "FilterByMarksUsedCount" : 0,
   "HideAnonymousFunctionsUsedCount" : 0,
   "SortingUsedCount" : 0,
   "TreeContextMenuExecutedCount" : 0,
   "SetMarkExecutedCount" : 0,
   "IsAutoTrackItemEnabled" : true,
   "IsAutoExpandAllEnabled" : true,
   "IsShowLineNumbersEnabled" : true,
   "IsSortingEnabled" : false,
   "IsFilterByMarksEnabled" : false,
   "IsHideAnonymousFunctionsEnabled" : false,
   "FirstDateUse" : "2021-10-27T12:57:15Z",
   "LastSubmittedTime" : "0001-01-01T00:00:00Z",
   "CurrentTime" : "0001-01-01T00:00:00Z",
   "Version" : "4.2.0.0",
   "Container" : "Notepad++ 8.11"
}</value>
            </setting>
            <setting name="SortingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>js</string>
                        <string>html</string>
                        <string>htm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutoExpandAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptStripExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>html</string>
                        <string>htm</string>
                    </ArrayOfString>
                </value>
            </setting>
        </JsParser.UI.Properties.Settings>
    </userSettings>
</configuration>